[submodule "third_party/dr_libs"]
	path = third_party/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "third_party/miniaudio"]
	path = third_party/miniaudio
	url = https://github.com/mackron/miniaudio.git
